In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline
import math

UsageError: Line magic function `%` not found.

In [2]:
titanic=pd.read_csv(r"C:\Users\Ankur Srivastava\Documents\Python\titanic\train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.drop('Cabin', axis=1, inplace=True)

In [4]:
titanic.dropna(inplace=True)

In [5]:
Sex=pd.get_dummies(titanic['Sex'],drop_first=True)

In [6]:
Embarked=pd.get_dummies(titanic['Embarked'],drop_first=True)

In [7]:
Pclass=pd.get_dummies(titanic['Pclass'],drop_first=True)

In [8]:
titanic=pd.concat([titanic,Sex,Embarked,Pclass],axis=1)

In [9]:
titanic.drop(['Pclass','Sex','Embarked','Name','Ticket','Fare'],axis=1,inplace=True)

In [10]:
y=titanic['Survived']
X=titanic.drop('Survived',axis=1)

In [11]:
from  sklearn.linear_model import LogisticRegression

In [12]:
Logmodel=LogisticRegression()

In [13]:
Logmodel.fit(X,y)

C:\Users\Ankur Srivastava\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
test=pd.read_csv(r"C:\Users\Ankur Srivastava\Documents\Python\titanic\test.csv")

In [15]:
test.drop('Cabin', axis=1, inplace=True)

In [16]:
test.dropna(inplace=True)

In [17]:
Sex=pd.get_dummies(test['Sex'],drop_first=True)

In [18]:
Embarked=pd.get_dummies(test['Embarked'],drop_first=True)

In [19]:
Pclass=pd.get_dummies(test['Pclass'],drop_first=True)

In [20]:
test=pd.concat([test,Sex,Embarked,Pclass],axis=1)

In [21]:
test.drop(['Pclass','Sex','Embarked','Name','Ticket','Fare'],axis=1,inplace=True)

In [22]:
test.head()

   PassengerId   Age  SibSp  Parch  male  Q  S  2  3
0          892  34.5      0      0     1  1  0  0  1
1          893  47.0      1      0     0  0  1  0  1
2          894  62.0      0      0     1  1  0  1  0
3          895  27.0      0      0     1  0  1  0  1
4          896  22.0      1      1     0  0  1  0  1

In [24]:
y_pred = Logmodel.predict(test)
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0], dtype=int64)

In [25]:
Submission = pd.DataFrame({ 'PassengerId': test['PassengerId'],
                            'Survived': y_pred })